// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #3f1496;

$dark      : #010011;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Custom
$deepspace      : #270b5f;

@import '~quasar-variables-styl'
