// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3;
$secondary : #00f2a1;
$accent    : #100e2f;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Custom
$deepspace : #01031a;
$dark      : #01000b;
$other     : #0a5b50;

@import '~quasar-variables-styl'
